<div class="row">
    <div class="col-md-12">
        {{#if data.errorMessage}}
        <div class="alert alert-danger"> <strong>Error:</strong> {{data.errorMessage}} </div>
        {{/if}}

        <h2>Log In</h2>
        <hr />

        <form method="post" action="/login">

            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="userName" name="userName" type="text"
                                placeholder="User Name" required {{#if data.userName}} value="{{data.userName}}" {{/if}} />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="password" name="password" type="password"
                                placeholder="Password" required />
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="submit" class="btn btn-success pull-right" value="Login" /><br /><br /><br />
            {{!-- <button class="btn btn-success pull-right" type="submit">Login</button><br /><br /><br /> --}}

        </form>
    </div>
</div>