<div class="row">
    <div class="col-md-12">
        <h2>WEB322 {{session.user.userName}} ( {{session.user.email}} ) History</h2>
        <hr />
    </div>
</div>

<div class="table-responsive">
    <table class="table ">
        <thead>
            <tr>
                <th><strong>Login Date/Time</strong></th>
                <th><strong>Client Information</strong></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each session.user.loginHistory}}
            <tr>
                <td>{{dateTime}}</td>
                <td>{{userAgent}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>